<div class="form-content" id ="regproc-getting-started">
    <div class="centered">
        <span class="bold">Applications must register to:</span>
    </div>
    <div class="registration-benefits accordion">
        <ul class="registration-benefits left">
            <li><div class="circle"><span aria-hidden="true" class="icon-profile"></span></div><div class="benefits-text">Get an Application Security ID</div></li>
            <li><div class="circle"><span aria-hidden="true" class="icon-key"></span></div><div class="benefits-text">Request Application Authorizations</div></li>
            <li><div class="circle connection"><span aria-hidden="true" class="icon-connection"></span></div><div class="benefits-text">Register Broadcast Topics for Parsers</div></li>
        </ul>
        <ul class="registration-benefits">
            <li><div class="circle headphones"><span aria-hidden="true" class="icon-headphones"></span></div><div class="benefits-text">Register Data You're Listening For</div></li>
            <li><div class="circle"><span aria-hidden="true" class="icon-bars"></span></div><div class="benefits-text">Register Broadcast Topics for Data Feeds</div></li>
            <li><div class="circle"><span aria-hidden="true" class="icon-stats"></span></div><div class="benefits-text">Register Data Type for Visualization</div></li>
        </ul>
    </div>
    <p>As long as all of your services, feeds, and web sites can request the same level of authorizations, you'll only need to register once for everything.</p>
    <div class="centered">
        <button type="button" class="btn large-btn" ng-click="continueRegistration(page)">Get Started</button>
    </div>
</div>
