<div class="slide-wrapper" id="contentWrap">
    <h1>Add Authorizations</h1>
    <form>
    <div class="auth-section">
        <div class="mar-t30 organizations">
            <h2>Authorizations</h2>
            <div class="search">
                <auto-complete title="" actual-values="selectedAuthorizations.auths" input-short-class="organizations"/>
            </div>
        </div>
        <input type="submit" class="btn" value="Save Authorizations" ng-click="save();close()">
    </div>
    </form>
</div>