@charset "UTF-8";
/* CSS Document */

/* ../fonts */

@font-face {
    font-family: 'roboto-100';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto-thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-300';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-400';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-500';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-700';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-900';
    src: url('../fonts/roboto-black-webfont.eot');
    src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto-black-webfont.ttf') format('truetype'),
         url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Icons */
@font-face {
	font-family: 'ezb-icon';
	src:url('../fonts/ezb-icon.eot?-be3dmb');
	src:url('../fonts/ezb-icon.eot?#iefix-be3dmb') format('embedded-opentype'),
		url('../fonts/ezb-icon.woff?-be3dmb') format('woff'),
		url('../fonts/ezb-icon.ttf?-be3dmb') format('truetype'),
		url('../fonts/ezb-icon.svg?-be3dmb#ez-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ezbicon-"], [class*=" ezbicon-"] {
	font-family: 'ezb-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ezbicon-phone:before {
	content: "\e600";
}
.ezbicon-mobile:before {
	content: "\e601";
}
.ezbicon-mouse:before {
	content: "\e602";
}
.ezbicon-directions:before {
	content: "\e603";
}
.ezbicon-mail:before {
	content: "\e604";
}
.ezbicon-paperplane:before {
	content: "\e605";
}
.ezbicon-pencil:before {
	content: "\e606";
}
.ezbicon-feather:before {
	content: "\e607";
}
.ezbicon-paperclip:before {
	content: "\e608";
}
.ezbicon-drawer:before {
	content: "\e609";
}
.ezbicon-reply:before {
	content: "\e60a";
}
.ezbicon-reply-all:before {
	content: "\e60b";
}
.ezbicon-forward:before {
	content: "\e60c";
}
.ezbicon-user:before {
	content: "\e60d";
}
.ezbicon-users:before {
	content: "\e60e";
}
.ezbicon-user-add:before {
	content: "\e60f";
}
.ezbicon-vcard:before {
	content: "\e610";
}
.ezbicon-export:before {
	content: "\e611";
}
.ezbicon-location:before {
	content: "\e612";
}
.ezbicon-map:before {
	content: "\e613";
}
.ezbicon-compass:before {
	content: "\e614";
}
.ezbicon-location2:before {
	content: "\e615";
}
.ezbicon-target:before {
	content: "\e616";
}
.ezbicon-share:before {
	content: "\e617";
}
.ezbicon-sharable:before {
	content: "\e618";
}
.ezbicon-heart:before {
	content: "\e619";
}
.ezbicon-heart2:before {
	content: "\e61a";
}
.ezbicon-star:before {
	content: "\e61b";
}
.ezbicon-star2:before {
	content: "\e61c";
}
.ezbicon-thumbsup:before {
	content: "\e61d";
}
.ezbicon-thumbsdown:before {
	content: "\e61e";
}
.ezbicon-chat:before {
	content: "\e61f";
}
.ezbicon-comment:before {
	content: "\e620";
}
.ezbicon-quote:before {
	content: "\e621";
}
.ezbicon-house:before {
	content: "\e622";
}
.ezbicon-popup:before {
	content: "\e623";
}
.ezbicon-search:before {
	content: "\e624";
}
.ezbicon-flashlight:before {
	content: "\e625";
}
.ezbicon-printer:before {
	content: "\e626";
}
.ezbicon-bell:before {
	content: "\e627";
}
.ezbicon-link:before {
	content: "\e628";
}
.ezbicon-flag:before {
	content: "\e629";
}
.ezbicon-cog:before {
	content: "\e62a";
}
.ezbicon-tools:before {
	content: "\e62b";
}
.ezbicon-trophy:before {
	content: "\e62c";
}
.ezbicon-tag:before {
	content: "\e62d";
}
.ezbicon-camera:before {
	content: "\e62e";
}
.ezbicon-megaphone:before {
	content: "\e62f";
}
.ezbicon-moon:before {
	content: "\e630";
}
.ezbicon-palette:before {
	content: "\e631";
}
.ezbicon-leaf:before {
	content: "\e632";
}
.ezbicon-music:before {
	content: "\e633";
}
.ezbicon-music2:before {
	content: "\e634";
}
.ezbicon-new:before {
	content: "\e635";
}
.ezbicon-graduation:before {
	content: "\e636";
}
.ezbicon-book:before {
	content: "\e637";
}
.ezbicon-newspaper:before {
	content: "\e638";
}
.ezbicon-bag:before {
	content: "\e639";
}
.ezbicon-airplane:before {
	content: "\e63a";
}
.ezbicon-lifebuoy:before {
	content: "\e63b";
}
.ezbicon-eye:before {
	content: "\e63c";
}
.ezbicon-clock:before {
	content: "\e63d";
}
.ezbicon-microphone:before {
	content: "\e63e";
}
.ezbicon-calendar:before {
	content: "\e63f";
}
.ezbicon-bolt:before {
	content: "\e640";
}
.ezbicon-thunder:before {
	content: "\e641";
}
.ezbicon-droplet:before {
	content: "\e642";
}
.ezbicon-cd:before {
	content: "\e643";
}
.ezbicon-briefcase:before {
	content: "\e644";
}
.ezbicon-air:before {
	content: "\e645";
}
.ezbicon-hourglass:before {
	content: "\e646";
}
.ezbicon-gauge:before {
	content: "\e647";
}
.ezbicon-language:before {
	content: "\e648";
}
.ezbicon-network:before {
	content: "\e649";
}
.ezbicon-key:before {
	content: "\e64a";
}
.ezbicon-battery:before {
	content: "\e64b";
}
.ezbicon-bucket:before {
	content: "\e64c";
}
.ezbicon-magnet:before {
	content: "\e64d";
}
.ezbicon-drive:before {
	content: "\e64e";
}
.ezbicon-cup:before {
	content: "\e64f";
}
.ezbicon-rocket:before {
	content: "\e650";
}
.ezbicon-brush:before {
	content: "\e651";
}
.ezbicon-suitcase:before {
	content: "\e652";
}
.ezbicon-cone:before {
	content: "\e653";
}
.ezbicon-earth:before {
	content: "\e654";
}
.ezbicon-keyboard:before {
	content: "\e655";
}
.ezbicon-browser:before {
	content: "\e656";
}
.ezbicon-publish:before {
	content: "\e657";
}
.ezbicon-progress-3:before {
	content: "\e658";
}
.ezbicon-progress-2:before {
	content: "\e659";
}
.ezbicon-brogress-1:before {
	content: "\e65a";
}
.ezbicon-progress-0:before {
	content: "\e65b";
}
.ezbicon-sun:before {
	content: "\e65c";
}
.ezbicon-sun2:before {
	content: "\e65d";
}
.ezbicon-adjust:before {
	content: "\e65e";
}
.ezbicon-code:before {
	content: "\e65f";
}
.ezbicon-screen:before {
	content: "\e660";
}
.ezbicon-infinity:before {
	content: "\e661";
}
.ezbicon-light-bulb:before {
	content: "\e662";
}
.ezbicon-creditcard:before {
	content: "\e663";
}
.ezbicon-database:before {
	content: "\e664";
}
.ezbicon-voicemail:before {
	content: "\e665";
}
.ezbicon-clipboard:before {
	content: "\e666";
}
.ezbicon-cart:before {
	content: "\e667";
}
.ezbicon-box:before {
	content: "\e668";
}
.ezbicon-ticket:before {
	content: "\e669";
}
.ezbicon-rss:before {
	content: "\e66a";
}
.ezbicon-signal:before {
	content: "\e66b";
}
.ezbicon-thermometer:before {
	content: "\e66c";
}
.ezbicon-droplets:before {
	content: "\e66d";
}
.ezbicon-uniE66E:before {
	content: "\e66e";
}
.ezbicon-statistics:before {
	content: "\e66f";
}
.ezbicon-pie:before {
	content: "\e670";
}
.ezbicon-bars:before {
	content: "\e671";
}
.ezbicon-graph:before {
	content: "\e672";
}
.ezbicon-lock:before {
	content: "\e673";
}
.ezbicon-lock-open:before {
	content: "\e674";
}
.ezbicon-logout:before {
	content: "\e675";
}
.ezbicon-login:before {
	content: "\e676";
}
.ezbicon-checkmark:before {
	content: "\e677";
}
.ezbicon-cross:before {
	content: "\e678";
}
.ezbicon-minus:before {
	content: "\e679";
}
.ezbicon-plus:before {
	content: "\e67a";
}
.ezbicon-cross2:before {
	content: "\e67b";
}
.ezbicon-minus2:before {
	content: "\e67c";
}
.ezbicon-plus2:before {
	content: "\e67d";
}
.ezbicon-cross3:before {
	content: "\e67e";
}
.ezbicon-minus3:before {
	content: "\e67f";
}
.ezbicon-plus3:before {
	content: "\e680";
}
.ezbicon-erase:before {
	content: "\e681";
}
.ezbicon-blocked:before {
	content: "\e682";
}
.ezbicon-info:before {
	content: "\e683";
}
.ezbicon-info2:before {
	content: "\e684";
}
.ezbicon-question:before {
	content: "\e685";
}
.ezbicon-help:before {
	content: "\e686";
}
.ezbicon-warning:before {
	content: "\e687";
}
.ezbicon-cycle:before {
	content: "\e688";
}
.ezbicon-cw:before {
	content: "\e689";
}
.ezbicon-ccw:before {
	content: "\e68a";
}
.ezbicon-shuffle:before {
	content: "\e68b";
}
.ezbicon-arrow:before {
	content: "\e68c";
}
.ezbicon-arrow2:before {
	content: "\e68d";
}
.ezbicon-retweet:before {
	content: "\e68e";
}
.ezbicon-loop:before {
	content: "\e68f";
}
.ezbicon-history:before {
	content: "\e690";
}
.ezbicon-back:before {
	content: "\e691";
}
.ezbicon-switch:before {
	content: "\e692";
}
.ezbicon-list:before {
	content: "\e693";
}
.ezbicon-add-to-list:before {
	content: "\e694";
}
.ezbicon-layout:before {
	content: "\e695";
}
.ezbicon-list2:before {
	content: "\e696";
}
.ezbicon-text:before {
	content: "\e697";
}
.ezbicon-text2:before {
	content: "\e698";
}
.ezbicon-document:before {
	content: "\e699";
}
.ezbicon-docs:before {
	content: "\e69a";
}
.ezbicon-landscape:before {
	content: "\e69b";
}
.ezbicon-pictures:before {
	content: "\e69c";
}
.ezbicon-video:before {
	content: "\e69d";
}
.ezbicon-music3:before {
	content: "\e69e";
}
.ezbicon-folder:before {
	content: "\e69f";
}
.ezbicon-archive:before {
	content: "\e6a0";
}
.ezbicon-trash:before {
	content: "\e6a1";
}
.ezbicon-upload:before {
	content: "\e6a2";
}
.ezbicon-download:before {
	content: "\e6a3";
}
.ezbicon-disk:before {
	content: "\e6a4";
}
.ezbicon-install:before {
	content: "\e6a5";
}
.ezbicon-cloud:before {
	content: "\e6a6";
}
.ezbicon-upload2:before {
	content: "\e6a7";
}
.ezbicon-bookmark:before {
	content: "\e6a8";
}
.ezbicon-bookmarks:before {
	content: "\e6a9";
}
.ezbicon-book2:before {
	content: "\e6aa";
}
.ezbicon-play:before {
	content: "\e6ab";
}
.ezbicon-pause:before {
	content: "\e6ac";
}
.ezbicon-record:before {
	content: "\e6ad";
}
.ezbicon-stop:before {
	content: "\e6ae";
}
.ezbicon-next:before {
	content: "\e6af";
}
.ezbicon-previous:before {
	content: "\e6b0";
}
.ezbicon-first:before {
	content: "\e6b1";
}
.ezbicon-last:before {
	content: "\e6b2";
}
.ezbicon-resize-enlarge:before {
	content: "\e6b3";
}
.ezbicon-resize-shrink:before {
	content: "\e6b4";
}
.ezbicon-volume:before {
	content: "\e6b5";
}
.ezbicon-sound:before {
	content: "\e6b6";
}
.ezbicon-mute:before {
	content: "\e6b7";
}
.ezbicon-flow-cascade:before {
	content: "\e6b8";
}
.ezbicon-flow-branch:before {
	content: "\e6b9";
}
.ezbicon-flow-tree:before {
	content: "\e6ba";
}
.ezbicon-flow-line:before {
	content: "\e6bb";
}
.ezbicon-flow-parallel:before {
	content: "\e6bc";
}
.ezbicon-arrow-left:before {
	content: "\e6bd";
}
.ezbicon-arrow-down:before {
	content: "\e6be";
}
.ezbicon-arrow-up-upload:before {
	content: "\e6bf";
}
.ezbicon-arrow-right:before {
	content: "\e6c0";
}
.ezbicon-arrow-left2:before {
	content: "\e6c1";
}
.ezbicon-arrow-down2:before {
	content: "\e6c2";
}
.ezbicon-arrow-up:before {
	content: "\e6c3";
}
.ezbicon-arrow-right2:before {
	content: "\e6c4";
}
.ezbicon-arrow-left3:before {
	content: "\e6c5";
}
.ezbicon-arrow-down3:before {
	content: "\e6c6";
}
.ezbicon-arrow-up2:before {
	content: "\e6c7";
}
.ezbicon-arrow-right3:before {
	content: "\e6c8";
}
.ezbicon-arrow-left4:before {
	content: "\e6c9";
}
.ezbicon-arrow-down4:before {
	content: "\e6ca";
}
.ezbicon-arrow-up3:before {
	content: "\e6cb";
}
.ezbicon-arrow-right4:before {
	content: "\e6cc";
}
.ezbicon-arrow-left5:before {
	content: "\e6cd";
}
.ezbicon-arrow-down5:before {
	content: "\e6ce";
}
.ezbicon-arrow-up4:before {
	content: "\e6cf";
}
.ezbicon-arrow-right5:before {
	content: "\e6d0";
}
.ezbicon-arrow-left6:before {
	content: "\e6d1";
}
.ezbicon-arrow-down6:before {
	content: "\e6d2";
}
.ezbicon-arrow-up5:before {
	content: "\e6d3";
}
.ezbicon-arrow-right6:before {
	content: "\e6d4";
}
.ezbicon-arrow-left7:before {
	content: "\e6d5";
}
.ezbicon-arrow-down7:before {
	content: "\e6d6";
}
.ezbicon-arrow-up6:before {
	content: "\e6d7";
}
.ezbicon-uniE6D8:before {
	content: "\e6d8";
}
.ezbicon-arrow-left8:before {
	content: "\e6d9";
}
.ezbicon-arrow-down8:before {
	content: "\e6da";
}
.ezbicon-arrow-up7:before {
	content: "\e6db";
}
.ezbicon-arrow-right7:before {
	content: "\e6dc";
}
.ezbicon-menu:before {
	content: "\e6dd";
}
.ezbicon-ellipsis:before {
	content: "\e6de";
}
.ezbicon-dots:before {
	content: "\e6df";
}
.ezbicon-dot:before {
	content: "\e6e0";
}
.ezbicon-cc:before {
	content: "\e6e1";
}
.ezbicon-cc-by:before {
	content: "\e6e2";
}
.ezbicon-cc-nc:before {
	content: "\e6e3";
}
.ezbicon-cc-nc-eu:before {
	content: "\e6e4";
}
.ezbicon-cc-nc-jp:before {
	content: "\e6e5";
}
.ezbicon-cc-sa:before {
	content: "\e6e6";
}
.ezbicon-cc-nd:before {
	content: "\e6e7";
}
.ezbicon-cc-pd:before {
	content: "\e6e8";
}
.ezbicon-cc-zero:before {
	content: "\e6e9";
}
.ezbicon-cc-share:before {
	content: "\e6ea";
}
.ezbicon-cc-share2:before {
	content: "\e6eb";
}
.ezbicon-danielbruce:before {
	content: "\e6ec";
}
.ezbicon-danielbruce2:before {
	content: "\e6ed";
}
.ezbicon-github:before {
	content: "\e6ee";
}
.ezbicon-github2:before {
	content: "\e6ef";
}
.ezbicon-flickr:before {
	content: "\e6f0";
}
.ezbicon-flickr2:before {
	content: "\e6f1";
}
.ezbicon-vimeo:before {
	content: "\e6f2";
}
.ezbicon-vimeo2:before {
	content: "\e6f3";
}
.ezbicon-twitter:before {
	content: "\e6f4";
}
.ezbicon-twitter2:before {
	content: "\e6f5";
}
.ezbicon-facebook:before {
	content: "\e6f6";
}
.ezbicon-facebook2:before {
	content: "\e6f7";
}
.ezbicon-facebook3:before {
	content: "\e6f8";
}
.ezbicon-googleplus:before {
	content: "\e6f9";
}
.ezbicon-googleplus2:before {
	content: "\e6fa";
}
.ezbicon-pinterest:before {
	content: "\e6fb";
}
.ezbicon-pinterest2:before {
	content: "\e6fc";
}
.ezbicon-tumblr:before {
	content: "\e6fd";
}
.ezbicon-tumblr2:before {
	content: "\e6fe";
}
.ezbicon-linkedin:before {
	content: "\e6ff";
}
.ezbicon-linkedin2:before {
	content: "\e700";
}
.ezbicon-dribbble:before {
	content: "\e701";
}
.ezbicon-dribbble2:before {
	content: "\e702";
}
.ezbicon-stumbleupon:before {
	content: "\e703";
}
.ezbicon-stumbleupon2:before {
	content: "\e704";
}
.ezbicon-lastfm:before {
	content: "\e705";
}
.ezbicon-lastfm2:before {
	content: "\e706";
}
.ezbicon-rdio:before {
	content: "\e707";
}
.ezbicon-rdio2:before {
	content: "\e708";
}
.ezbicon-spotify:before {
	content: "\e709";
}
.ezbicon-spotify2:before {
	content: "\e70a";
}
.ezbicon-qq:before {
	content: "\e70b";
}
.ezbicon-instagram:before {
	content: "\e70c";
}
.ezbicon-dropbox:before {
	content: "\e70d";
}
.ezbicon-evernote:before {
	content: "\e70e";
}
.ezbicon-flattr:before {
	content: "\e70f";
}
.ezbicon-skype:before {
	content: "\e710";
}
.ezbicon-skype2:before {
	content: "\e711";
}
.ezbicon-renren:before {
	content: "\e712";
}
.ezbicon-sina-weibo:before {
	content: "\e713";
}
.ezbicon-paypal:before {
	content: "\e714";
}
.ezbicon-picasa:before {
	content: "\e715";
}
.ezbicon-soundcloud:before {
	content: "\e716";
}
.ezbicon-mixi:before {
	content: "\e717";
}
.ezbicon-behance:before {
	content: "\e718";
}
.ezbicon-circles:before {
	content: "\e719";
}
.ezbicon-vk:before {
	content: "\e71a";
}
.ezbicon-smashing:before {
	content: "\e71b";
}

/* Globals */
html { box-sizing: border-box; margin:0px; padding:0px; }
body { font-family: 'roboto-300'; background-color:#efefef; font-size:15px; margin:0px 0px 50px 0px; padding:0px; color:#5a5a5a; transition:all 150ms ease-in-out; width:100%; }
a { color:#049197; transition:all 100ms ease-in-out; text-decoration:none; cursor:pointer; }
a:hover { color:#4cb8bd; }
.center { text-align:center; }
.full { width:100%; }
.half { width:50%; }

h1 { font-size: 28px; font-family: 'roboto-100'; margin:0 0 40px 0; }
h2 { font-size: 24px; font-family: 'roboto-100'; margin:0 0 30px 0; }
h3 { font-size: 22px; font-family: 'roboto-100'; margin:0 0 20px 0; }
h4 { font-size: 18px; font-family: 'roboto-300'; margin:0 0 20px 0; }
h5 { font-size: 16px; font-family: 'roboto-400'; margin:0 0 20px 0; }

ul { list-style:none; margin:none; }
ul li { line-height:180%; }

ol { margin:none; }
ol li { line-height:180%; }

.header { height:70px; width:100%; background-color:#049197; position:relative; display: inline-block; }
.title { display:inline-block; vertical-align:middle; margin-left:5px; font-family: 'roboto-300'; font-size:19px; color:#000; opacity:.7; }
.logo { display:inline-block; vertical-align:middle; margin-left:15px; height:70px; }
.login-wrapper { color:#fff; background-color: rgba(0, 0, 0, .1); height:70px; position:absolute; right:0px; display:inline; text-shadow:1px 1px 0px rgba(0, 0, 0, .3); }
.login-wrapper:before { display:inline-block; vertical-align:middle; content: ""; height:100%; }
.login-name { display:inline-block; vertical-align:middle; font-size: 16px; font-family: 'roboto-100'; padding:0px 0px 0px 30px; }
.login-icon { display:inline-block; vertical-align:middle; font-size:21px; padding:0px 20px; transition:all 100ms ease-in-out; }
.login-icon:hover { color: #b8e2aa; cursor:pointer; }
.icon-rotate { -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); }

.pad-0 { padding:0px; }
.pad-5 { padding:5px; }
.pad-10 { padding:10px; }
.pad-15 { padding:15px; }
.pad-20 { padding:20px; }
.pad-25 { padding:25px; }
.pad-30 { padding:30px; }
.pad-40 { padding:40px; }
.pad-50 { padding:50px; }
.pad-100 { padding:100px; }

.mar-0 { margin:0px; }
.mar-5 { margin:5px; }
.mar-10 { margin:10px; }
.mar-20 { margin:20px; }
.mar-30 { margin:30px; }
.mar-40 { margin:40px; }

.mar-t10 { margin-top:10px; }
.mar-r10 { margin-right:10px; }
.mar-b10 { margin-bottom:10px; }
.mar-l10 { margin-left:10px; }

.mar-t20 { margin-top:20px; }
.mar-r20 { margin-right:20px; }
.mar-b20 { margin-bottom:20px; }
.mar-l20 { margin-left:20px; }

.mar-t30 { margin-top:30px; }
.mar-r30 { margin-right:30px; }
.mar-b30 { margin-bottom:30px; }
.mar-l30 { margin-left:30px; }

.content { padding:40px; }

.card { background-color:#fff; padding:30px; margin:20px 0px;  }
.card .green { background-color:#049197; }
.card .blue { background-color:#6eaece; }
.card .orange { background-color:#f7941e; }

.shadow1 { box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3); }
.shadow2 { box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3); }
.shadow3 { box-shadow:0px 0px 20px rgba(0, 0, 0, 0.3); }
.shadow4 { box-shadow:0px 0px 30px rgba(0, 0, 0, 0.3); }

.divider { display:block; height:1px; width:100%; border-top:1px solid #ccc; margin: 30px 0px; }
hr { border: 0; height: 1px; background: #333; }

.message { padding:20px; margin:20px 0px; background-color:#6eaece; color:#fff; letter-spacing:1px; width:100%; text-shadow:1px 1px 0px rgba(0, 0, 0, .3); font-family: 'roboto-300'; box-sizing: border-box; }
.message.system-message { background-color:#f7941e; }
.message.error-message { background-color:#bc2a2a; }
.message.success-message { background-color:#85cc71; }

/* Colors */
.darkgreen { color:#00484e; }
.green { color:#049197; }
.lightgreen { color:#85cc71; }
.blue { color:#6eaece; }
.orange { color:#f7941e; }

/* Buttons */
.btn { display:inline-block; 	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-family: 'roboto-300'; font-size:14px; color:#3399cc; text-align:left; cursor:pointer; padding:12px 20px; background-color:none; border:none; outline:none; transition: all 150ms ease-in-out; margin:5px; }
.btn:hover { color:#44c7f4; opacity:1; }

.blue-btn { background-color:#6eaece; color:#fff; text-shadow:1px 1px 0px rgba(0, 0, 0, .3); box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3); border:1px solid #4a93b8; }
.blue-btn:hover { background-color:#92c4dd; color:#fff; }
.green-btn { background-color:#85cc71; color:#fff; text-shadow:1px 1px 0px rgba(0, 0, 0, .3); box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3); border:1px solid #60b647; }
.green-btn:hover { background-color:#a8dd99; color:#fff; }
.red-btn { background-color:#bc2a2a; color:#fff; text-shadow:1px 1px 0px rgba(0, 0, 0, .3); box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3); border:1px solid #a60f0f; }
.red-btn:hover { background-color:#db5c5c; color:#fff; }
.gray-btn { background-color:#e1e1e1; color:#999; }
.gray-btn:hover { box-shadow:inset 0px 0px 5px rgba(0, 0, 0, 0.4); color:#000; }
.file-btn { background-color:#e1e1e1; color:#544D4D; }
.file-btn:hover { box-shadow:inset 0px 0px 5px rgba(0, 0, 0, 0.4); color:#000; }
.file-upload-btn { background-color:#6eaece; color:#fff; text-shadow:1px 1px 0px rgba(0, 0, 0, .3); box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3); border:1px solid #4a93b8; }
.file-upload-btn:hover { background-color:#92c4dd; color:#fff; }
.file-delete-btn { background-color:#bc2a2a; color:#fff; text-shadow:1px 1px 0px rgba(0, 0, 0, .3); box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3); border:1px solid #a60f0f; }
.file-delete-btn:hover { background-color:#db5c5c; color:#fff; }

button:focus, button:hover, button:active, button:visited { outline:none !important; }
.btn:focus, .btn:hover, .btn:active, .btn:visited { outline:none !important; }

/* Form Fields */
form { margin: 20px 0 0 0; }
form legend { font-size: 21px; font-family: 'roboto-500'; padding:0px; }
form fieldset { margin: 0 0 30px 0; padding: 8px; border: none; }
form label { float: left; width: 125px; display:inline-block; vertical-align:middle; text-wrap:normal; font-family: 'roboto-400'; }
form label, form input { margin: 5px 0; }
form span { display: block; overflow: hidden; padding: 0 5px 0 0; }

form input { width:100%; padding:10px; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -khtml-border-radius: 3px; border:1px solid #e0e0e0; font-family: 'roboto-300'; font-size: 14px; color: #2a2a2a; box-sizing: border-box; -moz-box-sizing: border-box; transition:all 200ms ease-in-out; }
form input:hover { border:1px solid #aeaeae; }
form input:focus { outline:none; border:1px solid #a8dd99; }
form input:required, form input:invalid { box-shadow:none; outline:none; } 

.inline { display:inline-block; vertical-align:middle; }

/* Combo Box */
.select { margin: 5px 0; font-family: 'roboto-300';  -webkit-appearance: none; appearance: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 10px; background-image: url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw=="); background-repeat: no-repeat; background-position: 90% 50%; background-color: #fff; width: 170px; height:auto; font-size: 14px; border: 1px solid #e0e0e0; transition:all 200ms ease-in-out; }
.select:focus { outline:none; border:1px solid #a8dd99; font-weight:normal; font-family: 'roboto-300'; }
.select:hover. select.active { border:1px solid #aeaeae; font-weight:normal; font-family: 'roboto-300'; }

@-moz-document url-prefix() {
       .select { margin-right: -30px; overflow:hidden; background-image:none; text-overflow: ''; }
		.select-moz {
			 background: none;
			 width: 110%;
			 overflow:hidden;
		  }
} 

/* Radio */
input.radio { display:none; }
input.radio + label {
	background-color: #fff;
	height:14px;
	width:14px;
	border: 1px solid #e0e0e0;
	padding: 2px;
	webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	display: inline-block;
	vertical-align:middle;
	position: relative;
	float: left;
	margin-right:8px;
	margin-top:0px;
	margin-bottom:0px;
	cursor:pointer;
	transition:all 200ms ease-in-out;
	}
input.radio + label:hover { border:1px solid #aeaeae; }
input.radio + label:active, .regular-checkbox:checked + label:active { }
input.radio:checked + label { border: 1px solid #a5a5a5; box-shadow:inset 1px 1px 2px #ccc; background-color:#f6f6f6; transition:all 100ms ease-in-out; }
input.radio:checked + label:after {
	content: "\e6ad";
    font-family: 'ez-icon';
    speak: none;
	font-size: 12px;
	position: absolute;
	top: -3px;
	left: 3px;
	color: #404040;
	border: none;
}

@-moz-document url-prefix() { 
  input.radio:checked + label:after {
	top: -4px;
	left: 3px;
	padding:0px;
	box-sizing:border-box;
	}
}

/* Checkbox */
.checkbox-inline { margin:0; padding:0; position:relative; }
input[type="checkbox"] {
	webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background:#fff;
	border: 1px solid #d5d5d5;
	outline: none;
	padding: 10px;
	vertical-align:middle;
}
.tag { display: inline-block; float: left; vertical-align:middle; margin-right:30px; }

.regular-checkbox { display: none; }
.regular-checkbox + label {
	background-color: #fff;
	height:20px;
	width:20px;
	border: 1px solid #e0e0e0;
	padding: 2px;
	webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	vertical-align:middle;
	position: relative;
	float: left;
	margin-right:8px;
	margin-top:0px;
	margin-bottom:0px;
	cursor:pointer;
	transition:all 200ms ease-in-out;
}
.regular-checkbox + label:hover { border:1px solid #aeaeae; }
.regular-checkbox + label:active, .regular-checkbox:checked + label:active { }
.regular-checkbox:checked + label { border: 1px solid #a5a5a5; box-shadow:inset 1px 1px 2px #ccc; background-color:#f6f6f6; transition:all 100ms ease-in-out; }
.regular-checkbox:checked + label:after {
	content: "\e677";
    font-family: 'ez-icon';
    speak: none;
	font-size: 20px;
	position: absolute;
	top: 0px;
	left: 2px;
	color: #404040;
	border: none;
}

/* Columns */
.col2-set { display:block; }
.col2-set .col-1, .col2-set .col-2 { display:inline-block; width: 49%; }

.col3-set { display:block; }
.col3-set .col-1, .col3-set .col-2, .col3-set .col-3 { display:inline-block; width: 32%; }

.col4-set { display:block; }
.col4-set .col-1, .col4-set .col-2, .col4-set .col-3, .col4-set .col-4 { display:inline-block; width: 23.5%; }

.col5-set { display:block; }
.col5-set .col-1, .col5-set .col-2, .col5-set .col-3, .col5-set .col-4, .col5-set .col-5 { display:inline-block; width: 19%; }

/* Menu Dropdown */
ul.options { padding:0; margin:0; list-style-type:none; position:relative; }
ul.options li { margin-left:0px; height: 50px; }
ul.options li button { display:block; background:transparent; border:0; text-decoration:none; font-size:14px; }

/* Submenu */
.options ul { position:absolute; z-index:1; right:-9999px; top:-9999px; list-style-type:none; box-shadow:0px 0px 7px rgba(0, 0, 0, 0.3); max-width:220px; display: inline-block; }
.options li:hover { position:relative; cursor:pointer; }
.options li:hover ul { left:0px; top:23px; padding-top:20px; background:#6EAECE; display:block; }
.options li:hover ul:before { cursor:pointer; display:block; height:30px; content: ""; position: absolute; bottom: 100%; left:10px; z-index: 400; border-bottom: 5px solid #6EAECE; border-left: 7px solid transparent; border-right: 7px solid transparent; }
.options li:hover ul { padding:5px 0px; }
.options li:hover ul li button { text-shadow: 1px 1px 0px #6EAECE; text-align:left; padding:0px 15px; height:45px; color: #fff; background:transparent; font-size:14px; }
.options li:hover ul li button:hover { background:#92c4dd; width:100%; cursor:pointer; }
.options li:hover ul li button span { padding-right:10px; }

.options-btn:active, .options-btn:focus { outline:none; }

.clearfix { clear:both; }

/* File Upload */
.fileUpload {
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	padding: 8px 30px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.transparent { background:none; border:0px; color:#5a5a5a; }
.transparent:hover { background:none; border:0px; }
