<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
* Copyright (C) 2013-2014 Computer Sciences Corporation Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome | EzBake Thrift Services&trade;</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

<script type="text/javascript">
    var baseUrl = "<%= basePath %>";
</script>

</head>
<body unresolved touch-action="auto">
    <h1>YOU ARE UNAUTHORIZED TO USE THIS APPLICATION</h1>
    <p>If you believe this is in error please contact your nearest EzAdmin.</p>
    <p>If you do not believe this is in error...then why did you come here? Hmm. Assume the party escort submission position or you will miss the party. We will be by shortly to collect you. There will be cake.</p>
</body>
</html>
