@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?-47dllf');
    src: url('../fonts/icomoon.eot?#iefix-47dllf') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-47dllf') format('woff'),
    url('../fonts/icomoon.ttf?-47dllf') format('truetype'),
    url('../fonts/icomoon.svg?-47dllf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e600";
}

.icon-search-2:before {
    content: "\e601";
}

.icon-search-3:before {
    content: "\e602";
}

.icon-arrow-right:before {
    content: "\e603";
}

.icon-arrow-left:before {
    content: "\e604";
}

.icon-arrow-left-2:before {
    content: "\e605";
}

.icon-arrow-right-2:before {
    content: "\e606";
}

.icon-arrow-right-3:before {
    content: "\e607";
}

.icon-arrow-left-3:before {
    content: "\e608";
}

.icon-picture:before {
    content: "\e609";
}

.icon-image:before {
    content: "\e60a";
}

.icon-image-2:before {
    content: "\e60b";
}

.icon-video:before {
    content: "\e60c";
}

.icon-video-2:before {
    content: "\e60d";
}

.icon-film:before {
    content: "\e60e";
}

.icon-export:before {
    content: "\e60f";
}

.icon-comments:before {
    content: "\e610";
}

.icon-chat:before {
    content: "\e611";
}

.icon-download:before {
    content: "\e612";
}

.icon-download-2:before {
    content: "\e613";
}

.icon-in:before {
    content: "\e614";
}

.icon-star:before {
    content: "\e615";
}

.icon-newspaper:before {
    content: "\e616";
}

.icon-cog:before {
    content: "\e617";
}

.icon-cogs:before {
    content: "\e618";
}

.icon-cog-2:before {
    content: "\e619";
}

.icon-close:before {
    content: "\e61a";
}

.icon-checkmark:before {
    content: "\e61b";
}

.icon-checkmark-2:before {
    content: "\e61c";
}

.icon-minus:before {
    content: "\e61d";
}

.icon-plus:before {
    content: "\e61e";
}

.icon-arrow-down:before {
    content: "\e61f";
}

.icon-pencil:before {
    content: "\e620";
}

.icon-cross:before {
    content: "\e621";
}


