#imageResults {
    overflow: scroll;
}

.related-image-results {
    width: auto;
    padding: 0 40px;
}

.related-image-results a {
    text-decoration: none;
    color: #3197cb;
    padding: 0 5px;
}

.related-image-results a:hover {
    color: #006699;
}

.image-results-grid {

}

.image-results-grid img {
    margin: 40px 40px 0 0;
}

.results-page-label {
    font-size: .75em;
    color: #a5a5a5;
    padding: 35px 0 0 0;
}

.load-more {
    max-width: 1030px;
    min-width: 800px;
    padding: 35px 0 0 0;
}

.load-more-results {
    width: 90px;
    height: 10px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.loading {
    width: 10px;
    height: 10px;
    background: #eceeed;
    float: left;
    margin-right: 10px;
}

.loading-active {
    background: #d5d5d5;
}

.loading-last {
    margin: 0;
}

.show-more-results {
    width: 133px;
    margin: 0 auto;
}

.show-more-results a {
    padding: 10px;
    text-decoration: none;
    color: #a5a5a5;
    font-size: .75em;
    background: #eceeed;
}

.show-more-results a:hover {
    background: #e5e5e5;
}

.show-more-results a:active {
    background: #eceeed;
}

/* Select CSS */
.image-select {
    width: 800px;
    padding: 0 40px;
}

.image-select-actual {
    width: 495px;
    float: left;
}

.image-select-default {
    width: 495px;
}

.select-image-info {
    width: 495px;
    padding-top: 20px;
}

.select-image-info img {
    float: left;
    margin-right: 20px;
}

.select-image-info a {
    font-size: .75em;
    text-decoration: none;
    color: #3197cb;
}

.select-image-info a:hover {
    color: #006699;
}

.select-image-info-author {
    font-size: .75em;
    padding-top: 8px;
    width: 75%;
    float: left;
}

.select-image-views {
    font-size: .75em;
    padding-top: 8px;
    float: right;
}

.select-image-views-count {
    font-size: .75em;
    padding-top: 4px;
    float: right;
    color: #a5a5a5;
}

.author-image-count {
    color: #a5a5a5;
}

.image-select-details {
    width: 270px;
    float: right;
}

.select-title a {
    text-decoration: none;
    font-size: 1em;
    color: #3197cb;
}

.select-title a:hover {
    color: #006699;
}

.select-source {
    font-size: .75em;
    color: #a5a5a5;
    padding: 10px 0;
}

.select-description {
    font-size: .75em;
    color: #000;
    padding-bottom: 10px;
}

.select-description p {
    line-height: 18px;
    padding-bottom: 10px;
}

.select-rating {
    width: auto;
    margin-left: -10px;
    padding: 10px 0;
}

.select-rating-label {
    font-size: .75em;
    color: #000;
    margin-left: 10px;
}

.select-controls {
    width: auto;
    margin-top: 4px;
    margin-left: -10px;
}

.select-controls-options {
    padding-top: 5px;
}

a.select-controls-link {
    font-size: .75em;
    color: #a5a5a5;
    margin-left: 10px;
    text-decoration: none;
}

a:hover.select-controls-link {
    color: #8dc73f;
}

.select-tags {
    font-size: .75em;
    color: #a5a5a5;
    padding-top: 20px;
    line-height: 18px;
}

.select-tags a {
    color: #3197cb;
    text-decoration: none;
}

.select-tags a:hover {
    color: #006699;
}

.select-controls-tools {
    margin-top: 30px;
    width: auto;
    height: auto;
    border-top: 1px solid #eceeed;
    border-bottom: 1px solid #eceeed;
    border-right: 1px solid #eceeed;
    padding: 6px 0 10px 0;
}

a.select-controls-tools-options {
    font-family: Web-Symbols;
    padding: 12px 15px;
    color: #a5a5a5;
    background: #f5f5f5;
    font-size: .65em;
    text-decoration: none;
    border-left: 1px solid #eceeed;
}

a:hover.select-controls-tools-options {
    background: #eceded;
}

a:active.select-controls-tools-options {
    background: #f5f5f5;
}

.select-controls-tools img {
    width: 12px;
}

.sub-image-results {
    width: 495px;
    padding: 30px 0 0 0;
}

.user-comments {
    width: 495px;
    float: left;
}

.user-comments img {
    float: left;
    margin-right: 20px;
}

.user-comments-label {
    font-size: .75em;
    color: #a5a5a5;
}

.user-comments-divider {
    clear: both;
    width: 100%;
    height: 1px;
    background: #eceded;
    margin: 18px 0 25px 0;
}

.user-comments-actual {
    width: 425px;
    float: left;
    font-size: .75em;
}

.user-comments-actual a {
    color: #3197cb;
    text-decoration: none;
}

.comment-date {
    color: #a5a5a5;
}

.comment {
    color: #000;
    padding: 10px 0 5px 0;
    line-height: 18px;
}

.load-more-comments {
    width: 90px;
    height: 10px;
    margin: 0 auto;
}

.show-more-comments {
    width: 155px;
    margin: 0 auto;
    padding-top: 35px;
}

.show-more-comments a {
    padding: 10px;
    text-decoration: none;
    color: #a5a5a5;
    font-size: .75em;
    background: #eceeed;
}

.show-more-comments a:hover {
    background: #e5e5e5;
}

.show-more-comments a:active {
    background: #eceeed;
}

.similar-divider {
    clear: both;
    width: 100%;
    height: 1px;
    background: #eceded;
    margin: 18px 0 0 0;
}

.similar-images {
    width: 270px;
    float: right;
    padding-top: 30px;
}

.similar-images img {
    width: 65px;
    margin: 25px 20px 0 0;
}

.similar-images-last {
    margin-top: 20px;
    margin-right: 0;
}

.similar-image-info {
    width: 125px;
    font-size: .75em;
    color: #a5a5a5;
    float: right;
}

.similar-image-info a {
    color: #3197cb;
    text-decoration: none;
}

.similar-source {
    padding-top: 10px;
}

.similar-views {
    padding: 5px 0 25px 0;
}

.load-more-images {
    margin-top: 30px;
}

.load-more-images a {
    padding: 10px;
    text-decoration: none;
    color: #a5a5a5;
    font-size: .75em;
    background: #eceeed;
}

.load-more-images a:hover {
    background: #e5e5e5;
}

.load-more-images a:active {
    background: #eceeed;
}

a.description-read-more {
    color: #3197cb;
    text-decoration: none;
}

a:hover.description-read-more {
    color: #006699;
}

a.album-title {
    color: #3197cb;
    text-decoration: none;
}

a:hover.album-title {
    color: #006699;
}

.load-more-images-link {
    padding-top: 15px;
}

a.load-more-images {
    font-size: .75em;
    color: #3197cb;
    text-decoration: none;
}

a:hover.load-more-images {
    color: #006699;
}